.navbar {
  background-color: #ffffff;
  padding: 15px 0;
  transition: all 0.3s ease;
}
.navbar-brand {
  font-weight: 800;
  color: #003399 !important;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.input-group {
  background-color: #f5f5f7;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.3s;
}
.input-group-text {
  background: transparent;
  border: none;
  color: #86868b;
}
.form-control {
  background: transparent !important;
  border: none !important;
  padding: 10px;
  font-size: 0.9rem;
}
.navbar-nav .nav-link {
  color: #1d1d1f !important;
  font-size: 1.3rem;
  padding: 0 15px !important;
  transition: color 0.2s;
}
.navbar-nav .nav-link:hover {
  color: #003399 !important; 
}


@media (min-width: 992px) {
  .mx-auto {
    width: 450px;
  }
  .navbar-nav {
    flex-direction: row !important;
    justify-content: space-around; 
    padding: 10px 0;
  }
  .nav-item {
    text-align: center;
  }
}



